*{             /*it removes the padding and margin*/
    margin : 0; 
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    

}
/*root is a variable*/
/*these are all variable in which you stored particular colors*/
:root{
    --lead:#212121;
    --gold-finger:#F2BD12;
    --eye-ball:white;
    --hint-yellow:lightyellow;
    --pure-white:#FFF;


}
body{
    background-color: var(--eye-ball);/*you call var*/
}
a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--lead);
}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;/*it will not warp until we tell the size*/

    

}
li{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.gap-2{
    gap:2rem;
}
.gap-3{
    gap: 2rem;
}
.wrapper{
    max-width: 1400px;
    
    margin:auto;
    padding-inline :1.5rem;
}
img{
    max-width: 100%;
    height:auto;
    margin:auto;
    display: block; /*to remove spacing in image*/

}
.p-top{
    padding-top: 10rem; /*for gap btw first section and 2nd section*/
}
.text-center{
    text-align: center;
}

.navbar{
    min-height: 14vh;

}
.mt-4{
    margin-top: 4rem;
}
.mt-half{
    margin-top: .5rem;
}
.mt-one-half{
    margin-top:1.5rem;
}





/*to logo FOO.DIE*/
.logo{
    font-size: 2rem;
    font-weight: bold;
    color:var(--gold-finger)
}
/*sign in btn*/
.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background-color: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.233) 0 2px 1px;
}
.btn:hover{
    background-color: var(--lead);
    transition:0.3 ease-in-out;
}
/*bag icon*/
.cart-icon{
    color:var(--lead);
    font-size: 1.3rem;
    position: relative;
}
/*to span in bag icon*/
.cart-icon .cart-value{
    position:absolute;
    top:50%;
    right:-10px;
    font-size: 0.85rem;
    width:20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color: var(--gold-finger);
    color:var(--lead);
    text-align: center;
    line-height: 20px; /*for horizontal centering same as width*/
    
}
.desktop-action .hamburger{

    font-size: 1rem;
    display:none;
}
.mobile-menu{
    display:none;
}

/* SECTION STYLING*/

.hero-section{
    background:gold;
    min-height: calc(100vh - 14vh); /*calc() calculate the total vh is 100 out of which 14vh is give to header to rest will given to section*/
}
.content,
.image-container{
    flex:1;
    flex-basis: 300px;

}
h1{
    font-size: 5.6vw;
    color:var(--lead);

}
h1 span{
    color:var(--gold-finger)
}
p{
    font-size: 1.25rem;
    color:gray;
    line-height: 1.8rem;
    font-weight: 400;

}
.para{
    margin-block:2rem;/*space btw paragraph and order now btn in first section*/
}
.social-icon{
    background: goldenrod;
    width:3rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    aspect-ratio: 1;
    line-height: 3rem;/*to vertically center same as width*/
    box-shadow: rgba(0, 0, 0, 0.418) 0 2px 1px;
}
.social-icon:hover{
    background: var(--lead);
    color:var(--pure-white);
    transition: 0.3s ease-in-out;
}



/*section 2*/
h5{
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color:var(--gold-finger);
    text-transform: uppercase;
}
h2{
    font-size: 3.2rem;
    text-transform: capitalize;
    color:var(--lead)
}
.alignment{
    display:flex;
    flex:3;
    gap:6rem;
    margin-top: 3rem;
}
h3{
    font-size: 1.4rem;
    color:var(--lead);
    text-transform: capitalize;
}
.order-card{
        background-color:var(--pure-white);
        border-radius: 2rem;
        box-shadow: 
        rgba(0, 0, 0, 0.445) 8px 8px 8px,
        rgba(0, 0, 0, 0.445) 8px 8px 8px;
        transition: 0.5sec ease-in-out;
        border:0.1rem solid var(--gold-finger);
        flex:1;
        flex-basis: 300px;
        padding-top: 0;
        padding-bottom: 2rem;
        padding-left: 1rem;
    }
    
    .order-card img{
        width:15rem;
        /*drop shadow for img shadow*/
        filter:drop-shadow(
            black 0 10px 10px    /*0 for x axis 10 for y axis*/
        )


    }
    h4{
        font-size:1rem;
        color:var(--lead);
        padding:1.3rem 0 2rem 0;
    }
    .order-card .price{
        font-size: 1.7rem;
        color:var(--gold-finger);
        padding-top: 1.3rem;
        padding-bottom: 2rem;

    }
    /*card tab styling*/
   .cart-tab{
    background: var(--hint-yellow);
    position:fixed;
    inset:0 -500px 0 auto;/*top ,right*/ 
    /*we move the cart tab to right -500px so that it would not beseen
    width:25rem;
    padding-block:2rem;/*content will not touch with with top and bottom*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.341) -10px -10px 20px;
    transition:0.3s ease-in-out;

   }
   /* when this class used the cart-tab become active */
   .cart-tab-active{
    inset:0 0 0 auto;
   }
   .cart-list{
    flex:1;
    width:100%;
    overflow: auto;
   }
   .cart-list .item:nth-child(even){
    background: var(--eye-ball);

   }
   .total-container{
    width:100%;
    background: var(--gold-finger);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
   }
   .total-container h4{
    display:inline-block;
    font-size: 1.3rem;
    font-weight: 400;

   }
   .btn-container .btn{
    background: var(--lead);


   }
   .btn-container .btn:hover{
    background: var(--gold-finger);
    color:var(--lead);
    transition: 0.2s ease-in-out;
   }
   /* items in cart-tab */
   .item{
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    padding:0.7rem 1rem;
    

   }
   .item .item-image img{
    width:5rem;

   }
   .item h4{
    font-size: 1.3rem;
    color:var(--lead);
    gap:0;
   }
   .quantity-btn{
    background: var(--lead);
    border-radius: 50%;
    font-size: 1rem;
    color:var(--pure-white);
    width:2rem;
    height: 2rem;
    line-height: 2rem;
   }
   .beef-burger{
    padding-bottom: 2.8rem;
   }
   .item .item-total{
    font-weight: 100;
    margin-top: 0.3rem;
   }
   .quantity-value{
    margin-inline: 0.6rem; /*gap btw + 1 -*/
   }
   
  




    /*fourth sectoion*/


    /*swiper section*/
    .review-flex{
        display:flex;
        align-items: center;
        gap:40px;
        justify-content: space-around;
    }

    .review-left{
        width:40%;
    }
    .review-container{
        background: var(--pure-white);
        width:60%;
        max-width:100%;

    }
    .image-container img{
        width:100%;
        max-width:300px;
    }
 .swiper {
      width: 100%;
      height: 100%;
    }
    .profile{
        width:4rem;
        aspect-ratio: 1;
        border-radius: 100vw;
        overflow: hidden;
    }
    .profile img{
        width:100%;
        height:100%;
        object-fit: cover;

    }
    .fa-star{
        color:var(--gold-finger);
        
    }
    .review-container p{
        text-align: center;
    }
    .arrow{
        width:2.5rem;
        aspect-ratio: 1;
        border-radius: 100vw;
        background: var(--gold-finger);
        color:var(--lead);
        text-align: center;
        line-height: 2.5rem;/*for centering icon*/
    }






    /*SECTION FIVE*/
    .app-container{
        background: lightyellow;
        padding:3rem 6rem;
        border-radius: 3rem;



        
    }
    .app-container .content h2{
        font-size:4.5rem;

    }
    .app-container .image-container img{
        width:25rem;

    }


    /*SECTION 6*/
    .input-container{
        width:43rem;
        max-width: 100%;
        background: var(--pure-white);
        padding:0.8rem;
        box-shadow: 
        rgba(0, 0, 0, 0.308)  0 5px 8px;
        border-radius: 1rem;
        margin-left:18rem;
    }

    input[type="email"]{
        flex:1;
        height:7vh;
        background: transparent;
        border:none;
        font-size: 1.1rem;
        padding-left: 1rem;

    }

    input[type="email"] :focus{
        outline:none;
    }
    
   


  
    























/*media queries*/
/*when it width is 780px media query become active*/
@media screen and (max-width:780px) {

    /*HEADER STYLING*/
    .navlist,
    .desktop-action .btn{
        display:none;
    }
    .desktop-action .hamburger{
        display: block;
    }
    .mobile-menu{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem;
        position:absolute;/*by which you can change its positon*/
        top:20%;
        left:50%;
        transform: translateX(-50%);
        width:20rem;
        background: var(--pure-white);
        border:0.1rem solid var(--gold-finger);
        padding:2rem;
        border-radius: 2rem;
        box-shadow: 
        rgba(0, 0, 0, 0.445) 8px 8px 8px,
         rgba(0, 0, 0, 0.445) 8px 8px 8px;
         transition: 0.5sec ease-in-out;
        
    }
    .mobile-menu-active{
        left:50%;
        transform:translateX(-50%);

    }

    /*SECTION STYLING*/
    h1{
        font-size: 3.6rem;

    }
    .content{
        padding-top: 3rem;
    }
    .gap-2{
        gap:1.4rem;
    }
    .gap-4{
        gap:4rem;
    }

    /*section 2 styling*/
    .alignment{
        display:grid;
    }
    h2{
        font-size: 3rem;
    }
    .review-flex{
        flex-direction: column;
        text-align: center;
    }

    
    /*SECTION 01*/
    h2{
        font-size: 3rem;
    }

    /*SECTION 05*/
    .app-container{
        padding:2.2rem;
    }
    .app-container .content h2{
        font-size:3.5rem;

    }

    /*email section*/
    .input-container{
        margin-left:1px;
    }
    .footer-container{
        flex-basis: 300px;
        
    }
    .footer-wrapper{
        margin-left:6rem;
    }
    .responsiveness-menu{
        margin-right:3rem;
    }




 




}


/*FOOTER STYLING*/
.footer-container{
    margin-top: 10rem;
    padding-block:4rem;
    background: var(--hint-yellow);
}
.footer-wrapper{
    flex:1;
   
    
    
}
.footer-wrapper .social-icon{
    color:var(--pure-white);
    
}
.footer-wrapper .social-icon:hover{
    background: var(--lead);
    color:var(--pure-white);
}
.footer-link{
    color:gray;
    font-size: 1.1rem;

}
.footer-link:hover{
    color:var(--lead);
    transition: 0.3s ease-in-out;
    font-size: 1rem;
}
.margin-left{
    margin-left: 7rem;
}
.footer-container .flex{
    align-items: flex-start;  /*our menu will align with company and support*/

}